.header {
    width: 100%;
    height: 325px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.507)), url(../img/cover.jpg);
    color: #ffffff;
    padding: 30px 0 85px;
    background-position: 15% 18%;
}
.header a {
    color: #ffffff;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.active {
    color: #5863f8!important;
}
.mainNav {
    margin-bottom:95px;
}
.headerlogo {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}
.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.MainNavUl {
    width: 52%;
}

.MainNavUl a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
.MinNavTitle {
    font-size: 42px;
    font-weight: bolder;
    line-height: 56px;
}
.minNavli:nth-child(1) {
    border-right: 1px solid #ffffff;
    padding-left: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.minNavli {
    padding: 5px 15px;
}
.scroldown {
    padding-left: 5px;
}
.roomsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.visitArrow {
    background-color: #5863f8;
    height: 100%;
}
.visitArrow a {
    height: 100%;
    background-color: #5863f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 23px;
}
.textarea {
    padding: 36px 16px;
    background-color: #f8f8f8;
    height: 100%;
}
.roomImg {
    width: 168px;
    height: 190px;
    object-fit: cover;
}