.header {
    width: 100%;
    height: 325px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.507)), url(../img/cover.jpg);
    color: #ffffff;
    padding: 30px 0 85px;
    background-position: 12% 17%;
}
.header a {
    color: #ffffff;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.active {
    color: #5863f8!important;
}
.mainNav {
    margin-bottom:95px;
}
.headerlogo {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}
.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.MainNavUl {
    width: 52%;
}

.MainNavUl a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
.MinNavTitle {
    font-size: 42px;
    font-weight: bolder;
    line-height: 56px;
}
.minNavli:nth-child(1) {
    border-right: 1px solid #ffffff;
    padding-left: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.minNavli {
    padding: 5px 15px;
}
.scroldown {
    padding-left: 5px;
}
.aboutUs {
    margin-bottom: 77px;
}
.aboutUs h4 {
    color: #5863f8;
    font-size: 14px;
    font-weight: bold;
    padding-top: 90px;
    text-transform: uppercase;
}
.mainhead {
    color: #000000;
    font-size: 42px;
    font-weight: bolder;
    padding-bottom: 50px;
    line-height: 56px;
    width: 30%;
}
.roomsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 190px 190px 190px;
    gap: 16px;
}
.visitArrow {
    background-color: #5863f8;
    height: 100%;
}
.visitArrow a {
    height: 100%;
    background-color: #5863f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 23px;
}
.textarea {
    padding: 36px 16px;
    background-color: #f8f8f8;
    height: 100%;
}
.textarea span {
    text-transform: capitalize;
    color: #5863f8;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
.textarea h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    padding-bottom: 10px;
}
.textarea p {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #B1B1B1;
    padding-right: 37px;
}
.roomImg {
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.checkIn {
    background-color: #f8f8f8;
    padding-top: 75px;
    padding-bottom: 53px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    color: #5863f8;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}
.input {
    width: 260px;
    height: 60px;
}
.button {
    width: 260px;
    height: 60px;
    background-color: #5863f8;
    color: #ffffff;
    align-self: end;
}
.chekIndiv {
    align-self: baseline;
}